<!doctype html>
<html>
<head>
  <title>Classificator</title>
  <link rel="icon" type="image/gif/png" href="{{ url_for('static',filename='images/logo.png') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <style>
    li:hover
    {
        background-color:#413D52;
    }
  </style>
  <ul>
      {% for item in nav.top %}
      <li class="{{ 'active' if item.is_active else '' }}">
          <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
      {% endfor %}
  </ul>
</head>
<body align = "center" background="{{ url_for('static',filename='images/background.jpg') }}">
      <br><br>
      <fieldset align = "left" class="fieldset-auto-width">
          <h2> The data load did not go very well </h2>
          <h4> Here is what went wrong:</h4>
          {% for value in result %}
          <p> {{value}} </p>
          {% endfor %}
      </fieldset>
</body>
<footer align="left" style="display:block">
  <p style = "color:white">
  Powered By: <a style = "color:white" href="http://scikit-learn.org/stable/index.html">scikit-learn</a><br> 
  Established: Aug 2017 <br><br>
  <a href = "../" style = "display:inline-block">
      <img title = "Classificator home" src="{{ url_for('static',filename='images/logo.png') }}" width = "30px" height = "30px">
  </a>
  </p>
</footer>
</html>
