<!doctype html>
<html>
<head>
  <title>Classificator API</title>
  <link rel="icon" type="image/gif/png" href="{{ url_for('static',filename='images/logo.png') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <style>
    li:hover
    {
        background-color:#413D52;
    }
  </style>
  <ul>
      {% for item in nav.top %}
      <li class="{{ 'active' if item.is_active else '' }}">
          <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
      {% endfor %}
  </ul>
</head>
<body align = "center" background="{{ url_for('static',filename='images/background.jpg') }}">
    <br><br>
    <fieldset class="fieldset-auto-width">
        <img src="{{ url_for('static',filename='images/terminated.png') }}">
        <br><br>
        <p> Or at least an attempt was made. It may have already been dead. </p>
    </fieldset>
</body>
<footer align="left" style="display:block">
  <p style = "color:white">
  Powered By: <a style = "color:white" href="http://scikit-learn.org/stable/index.html">scikit-learn</a><br>
  Established: Aug 2017 <br><br>
  <a href = "../" style = "display:inline-block">
      <img title = "Classificator home" src="{{ url_for('static',filename='images/logo.png') }}" width = "30px" height = "30px">
  </a>
  </p>
</footer>
</html>
